= form_for @profile do |profile_form|
  .row
    .col-7
      .form-group
        = profile_form.label :first_name, t('profile.first_name'), class: 'col-form-label'
        = profile_form.text_field :first_name, class: 'form-control'
      .form-group
        = profile_form.label :surname, t('profile.surname'), class: 'col-form-label'
        = profile_form.text_field :surname, class: 'form-control'
      .form-group
        = profile_form.label :telephone, t('profile.telephone'), class: 'col-form-label'
        = profile_form.text_field :telephone, class: 'form-control'
      .form-group
        = profile_form.label :role, t('profile.role'), class: 'col-form-label'
        = text_field_tag :role, t("profile.roles.#{@profile.role}"), class: 'form-control', disabled: true
    .col-5
      .form-group
        = image_tag(@profile.avatar.attached? ? @profile.avatar : "placeholder-user.png", class: 'img-avatar')
        = profile_form.file_field :avatar, direct_upload: true, class: 'form-control'

  .actions
    = submit_tag t('general.save'), id: 'submit_user', class: 'btn btn-success'
    = link_to t('general.cancel'), profile_path, class: 'btn btn-light'
