.row
  .col-md-12
    .card
      .show_record
        %h2= t("profile.heading.show")

        .row
          .col-12.col-md-7
            %table
              %thead
              %tbody
                %tr.first_name
                  %td.label
                    = t('profile.first_name')
                  %td.value
                    = @profile.first_name
                %tr.surname
                  %td.label
                    = t('profile.surname')
                  %td.value
                    = @profile.surname
                %tr.telephone
                  %td.label
                    = t('profile.telephone')
                  %td.value
                    = @profile.telephone
                %tr.role
                  %td.label
                    = t('profile.role')
                  %td.value
                    = t("profile.roles.#{@profile.role}")
                %tr.created_at
                  %td.label
                    = t('profile.created_at')
                  %td.value
                    = l(@profile.created_at, format: :long)
                %tr.updated_at
                  %td.label
                    = t('profile.updated_at')
                  %td.value
                    = l(@profile.updated_at, format: :long)
              %tfoot

          .col-12.col-md-5
            = image_tag((@profile.avatar.attached? ? @profile.avatar : "placeholder-user.png"), class: 'img-avatar')

        .actions
          = link_to t('general.edit'), edit_profile_path, class: 'btn btn-primary'
