%section.user_session
  .container.card
    .row.justify-content-center
      .col-md-8
        .card
          .card-body
            %h2= t("devise.registrations.edit_account")

            = form_for(resource, as: resource_name, url: account_path(resource_name), html: { method: :put }) do |f|
              = devise_error_messages!

              .field.form-group
                = f.label :email
                = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'

              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  = t("devise.registrations.awaiting_confirmation", unconfirmed_email: resource.unconfirmed_email)

              .field.form-group
                = f.label :password
                %i= t("devise.registrations.leave_blank_for_no_change")
                = f.password_field :password, autocomplete: "new-password", class: 'form-control'
                - if @minimum_password_length
                  %em= t("devise.registrations.minimum_length", min: @minimum_password_length)

              .field
                = f.label :password_confirmation
                = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'

              .field
                = f.label :current_password
                %i
                  = t("devise.registrations.need_current_password_to_confirm")
                = f.password_field :current_password, autocomplete: "current-password", class: 'form-control'

              .actions
                = f.submit "Update", class: 'btn btn-success'


        .card.alert.alert-danger
          .card-body
            %h2= t("devise.registrations.cancel_my_account")
            %p
              = t("devise.registrations.want_to_cancel_account")
              = button_to t("devise.registrations.cancel_my_account"), account_path(resource_name), data: { confirm: t("devise.registrations.confirm_cancel") }, method: :delete, class: 'btn btn-danger'
