.card.product{class: product.active? ? 'active' : 'inactive'}
  .row
    .col-12.col-sm-7.offset-sm-5
      .name
        = product.name
  .row
    .col-12.col-sm-5
      .product_images
        - if product.images.any?
          = render "marketplace/shared/product_images", {product: product, context: 'pharmacy_product'}
        - else
          = image_tag("placeholder-product.jpg", class: "img-product")
    .col-12.col-sm-7
      - if product.product_form
        .label_value_group.product_form
          %label.label= t("marketplace.product.form")
          .value= product.product_form_name

      - %w(strength pack_size volume identifier channel_size).each do |prop|
        - unless product.send("display_#{prop}").blank?
          .label_value_group{class: prop}
            %label.label= t("marketplace.product.#{prop}")
            .value= product.send("display_#{prop}")

      - unless product.active_ingredient.blank?
        .label_value_group.active_ingredient
          %label.label= t("marketplace.product.active_ingredient")
          .value= product.active_ingredient
      - unless product.manufacturer.blank?
        .label_value_group.manufacturer
          %label.label= t("marketplace.product.manufacturer")
          .value= product.manufacturer

      - if product.listings.any?
        .product_listings
          %h4= t("marketplace.product.listings")
          %ul.product_listings
            - product.listings.each do |listing|
              %li= link_to(listing.display_name, marketplace_listing_path(listing))

  - if policy(product).edit?
    .row
      .actions
        = link_to t("general.edit"), product.pharmacy ? edit_marketplace_pharmacy_product_path(product.pharmacy, product) : edit_marketplace_product_path(product)
        - if product.persisted? && policy(product).destroy?
          %span.tooltip_wrapper{ title: product.listings.any? ? t("marketplace.product.labels.delete_disabled") : t("general.delete") }
            = link_to t('general.delete'), marketplace_product_path(product),
              method: :delete,
              class: ['btn', 'btn-danger', product.listings.any? ? 'disabled' : nil].compact.join(' '),
              data: { confirm: t("marketplace.product.labels.confirm_delete") }
