.card.product{class: product.active? ? 'active' : 'inactive'}
  .row
    .col-5
      .product_images
        - if product.images.any?
          = render "marketplace/shared/product_images", {product: product, context: 'pharmacy_product'}
        - else
          = image_tag("placeholder-product.jpg", class: "img-product")
    .col-7
      .name
        = product.name
      - if product.manufacturer
        .manufacturer
          %span.label= t("marketplace.product.manufacturer")
          %span.value= product.manufacturer
      - if product.product_form
        .product_form
          %span.label= t("marketplace.product.form")
          %span.value= product.product_form_name

      - %w(strength pack_size volume identifier channel_size).each do |prop|
        - unless product.send("display_#{prop}").blank?
          %div{class: prop}
            %span.label= t("marketplace.product.#{prop}")
            %span.value= product.send("display_#{prop}")

      - unless product.active_ingredient.blank?
        .active_ingredient
          %span.label= t("marketplace.product.active_ingredient")
          %span.value= product.active_ingredient
  - if policy(product).edit?
    .row
      .actions
        = link_to t("general.edit"), product.pharmacy ? edit_marketplace_pharmacy_product_path(product.pharmacy, product) : edit_marketplace_product_path(product)
