.row
  .col-md-12
    .tab-navigation
      %ul.nav.nav-tabs{:role => "tablist"}
        - if policy(Marketplace::Account.new(pharmacy: @marketplace_pharmacy)).show?
          = pharmacy_tab_for('account')
        = pharmacy_tab_for('profile')
        = pharmacy_tab_for('listings')
        = pharmacy_tab_for('agents')
        = pharmacy_tab_for('pharmacy_products')
        - if policy(Marketplace::CreditCard.new(pharmacy: @marketplace_pharmacy)).show?
          = pharmacy_tab_for('credit_cards')
        - if policy(@marketplace_pharmacy.bank_account || @marketplace_pharmacy.build_bank_account).show?
          = pharmacy_tab_for('bank_account')

      .tab-content.clearfix
        - if policy(Marketplace::Account.new(pharmacy: @marketplace_pharmacy)).show?
          = pharmacy_content_for('account', @marketplace_pharmacy)
        = pharmacy_content_for('profile', @marketplace_pharmacy)
        = pharmacy_content_for('listings', @marketplace_pharmacy)
        = pharmacy_content_for('agents', @marketplace_pharmacy)
        = pharmacy_content_for('pharmacy_products', @marketplace_pharmacy)
        - if policy(Marketplace::CreditCard.new(pharmacy: @marketplace_pharmacy)).show?
          = pharmacy_content_for('credit_cards', @marketplace_pharmacy)
        - if policy(@marketplace_pharmacy.bank_account || @marketplace_pharmacy.build_bank_account).show?
          = pharmacy_content_for('bank_account', @marketplace_pharmacy)

