.row
  .col-md-12
    .card
      = render 'marketplace/shared/pharmacies/profile_tab', pharmacy: @marketplace_pharmacy
    .card
      = render 'marketplace/shared/pharmacies/listings_tab', pharmacy: @marketplace_pharmacy
    - if policy(@marketplace_pharmacy).edit?
      .card
        = render 'marketplace/shared/pharmacies/agents_tab', pharmacy: @marketplace_pharmacy
      .card
        = render 'marketplace/shared/pharmacies/products_tab', pharmacy: @marketplace_pharmacy
      .card
        = render 'marketplace/shared/pharmacies/credit_cards_tab', pharmacy: @marketplace_pharmacy


