- url = @agent.persisted? ? marketplace_pharmacy_agent_path(@agent.pharmacy, @agent) : marketplace_pharmacy_agents_path(@agent.pharmacy)
= form_for @agent, url: url do |form|
  = form.fields_for :user do |user_form|
    = render 'admin/users/user_fields', form: user_form

  .form-group
    = form.label :superintendent, t('marketplace.agent.superintendent'), class: 'col-form-label col-form-check-label'
    = form.check_box :superintendent, class: 'col-form-check-input'
  .actions
    = submit_tag t('general.save'), id: 'submit_marketplace_agent', class: 'btn btn-success'
    = link_to t('general.cancel'), marketplace_pharmacy_profile_path(pharmacy_id: @agent.pharmacy.id, section: 'profile'), class: 'btn btn-light'
