.place_order_btn.cta
  = form_for order, url: marketplace_cart_path, action: :patch do |form|
    = form.hidden_field :state, value: 'placed'
    - if order.in_progress? || order.state_was == Marketplace::Order::State::IN_PROGRESS
      = link_to t("marketplace.cart.review_terms"),
        terms_and_conditions_pages_path,
        class: 'review_terms_link',
        data: { toggle: "modal", target: "#terms_modal" }

      %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js", data: { key: Rails.application.credentials.stripe["publishable"],
        amount: order.price_cents,
        name: "RenuPharm",
        description: "Card authorization",
        image: image_path("favicon"),
        locale: "auto",
        currency: "eur"}}

    - else
      .state{ class: order.state }
        = t("marketplace.cart.state.#{order.state_was}")

#terms_modal.modal.fade{ "tabindex"=>"-1", "role"=>"dialog", "aria-hidden"=>true, "aria-labelledby"=>"#user_agreement_header" }
  .modal-dialog.modal-lg.modal-dialog-centered{ "role"=>"document" }
    .modal-content
      .modal-header
        .modal-title
          %button.close{ "type"=>"button", "data-dismiss"=>"modal", "aria-label"=>t("general.close") }
            %span{ "aria-hidden"=>true }
              &times;
      .modal-body
        = render "pages/terms_and_conditions"
      .modal-footer
        %button.btn.btn-secondary{ "type"=>"button", "data-dismiss"=>"modal"}
          = t("general.close")
