.row
  .col-md-12
    .row.inline_search_form
      .col-md-6
      .col-md-6
        = form_tag admin_sales_pharmacies_path, method: :get do
          %span.active-purple-4.mb-4
            = text_field_tag "query", nil, class: "form-control", placeholder: t("general.search"), "aria-label": t("general.search")
          = submit_tag t("general.search"), class: "btn btn-primary"
    .card
      %table#sales_pharmacies.table
        %thead
          %tr
            %th
              = t("sales.pharmacy.name")
            %th
              = t("sales.pharmacy.proprietor")
            %th
              = t("sales.pharmacy.address")
            %th
              = t("sales.pharmacy.email")
            %th
              = t("sales.pharmacy.telephone")
        %tbody
          - @pharmacies.each do |pharmacy|
            %tr
              %td
                = link_to pharmacy.name, admin_sales_pharmacy_path(pharmacy)
                %span.survey_indicator
                  - if pharmacy.completed_survey?
                    %i.fa.fa-file-alt
                %span.comments_count
                  - if pharmacy.comments_count>0
                    %i.fa.fa-comments
              %td= pharmacy.proprietor
              %td= truncate_with_ellipsis(pharmacy.address, 30)
              %td= pharmacy.email
              %td= pharmacy.telephone

      = render "shared/pagination", { total_count: @total_count,
        page: @page,
        per_page: @per_page,
        current_request: request,
        path_params: {q: @query} }

      .actions
        = link_to t("general.new"), new_admin_sales_pharmacy_path, class: 'btn btn-success'
