.row
  .col-md-12
    .card
      %table#sales_pharmacies.table
        %thead
          %tr
            %th
              = t("sales.pharmacy.name")
            %th
              = t("sales.pharmacy.proprietor")
            %th
              = t("sales.pharmacy.address")
            %th
              = t("sales.pharmacy.email")
            %th
              = t("sales.pharmacy.telephone")
        %tbody
          - @pharmacies.each do |pharmacy|
            %tr
              %td
                = link_to pharmacy.name, admin_sales_pharmacy_path(pharmacy)
                %span.survey_indicator
                  - if pharmacy.completed_survey?
                    %i.fa.fa-file-alt
                %span.comments_count
                  - if pharmacy.comments_count>0
                    %i.fa.fa-comments
              %td= pharmacy.proprietor
              %td= truncate_with_ellipsis(pharmacy.address, 30)
              %td= pharmacy.email
              %td= pharmacy.telephone

      .table_summary_section
        = t("table.summary", start: ((@page-1)*@per_page)+1, end: [@page*@per_page, @total_count].min, total: @total_count)
      .pagination_section
        %nav{ "aria-label" => t("table.pagination.alt") }
          %ul.pagination
            - @total_pages.times do |i|
              %li.page-item{ class: (i+1)==@page ? 'active' : '' }
                = link_to (i+1), admin_sales_pharmacies_path(page: i+1), class: 'page-link'
      .actions
        = link_to t("general.new"), new_admin_sales_pharmacy_path, class: 'btn btn-success'
