.row
  .col-md-12
    .card
      .show_record
        %h2
          = @sales_pharmacy.full_name
        .form-group.row
          %label.label.col-form-label.col-2
            = t('sales.pharmacy.name')
          .col-10
            %span.form-control
              = @sales_pharmacy.name
        .form-group.row
          %label.label.col-form-label.col-2
            = t('sales.pharmacy.address_1')
          .col-10
            %span.form-control
              = @sales_pharmacy.address_1
        .form-group.row
          %label.label.col-form-label.col-2
            = t('sales.pharmacy.address_2')
          .col-10
            %span.form-control
              = @sales_pharmacy.address_2
        .form-group.row
          %label.label.col-form-label.col-2
            = t('sales.pharmacy.address_3')
          .col-10
            %span.form-control
              = @sales_pharmacy.address_3
        .form-group.row
          %label.label.col-form-label.col-2
            = t('sales.pharmacy.email')
          .col-10
            %span.form-control
              = @sales_pharmacy.email
        .form-group.row
          %label.label.col-form-label.col-2
            = t('sales.pharmacy.telephone')
          .col-10
            %span.form-control
              = @sales_pharmacy.telephone
        .form-group.row
          %label.label.col-form-label.col-2
            = t('sales.pharmacy.fax')
          .col-10
            %span.form-control
              = @sales_pharmacy.fax
        .actions
          - unless @sales_pharmacy.completed_survey?
            = link_to t('sales.pharmacy.submit_survey'), new_survey_response_path(sales_pharmacy_id: @sales_pharmacy.id), class: 'btn btn-success'
          = link_to t('general.edit'), edit_admin_sales_pharmacy_path(@sales_pharmacy), class: 'btn btn-primary'
          = link_to t('general.cancel'), :back, class: 'btn btn-light'

    .card
      .pharmacy_contacts
        %h2
          = t("sales.pharmacy.sales_contacts")
        = render 'admin/sales/contacts/table', sales_contacts: @sales_pharmacy.sales_contacts, with_pharmacy: false

    .card
      .comments
        %h2
          = t("sales.pharmacy.comments")
        = render 'admin/sales/comments/comment_list', commentable: @sales_pharmacy
