%header#home
  #carousel.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel"}
    .carousel-inner{:role => "listbox"}
      .carousel-item.active
        = image_tag("slide_1.jpg", alt: "Reduce medication wastage")
        .container.caption_area
          .carousel-caption
            %h3 REDUCE MEDICATION WASTAGE
            %p Holding excess medications that are unlikely to shift? You make these available for other Irish pharmacies to purchase on the RenuPharm network.
            = link_to "Find out more", new_survey_response_path, class: 'banner_btn'
      .carousel-item
        = image_tag("slide_2.jpg", alt: "Source low-cost medications")
        .container.caption_area
          .carousel-caption
            %h3 SOURCE LOW-COST MEDICATIONS
            %p Sourcing niche medications at a reasonable cost is a constant challenge. The RenuPharm marketplace offers a new channel for sourcing cost effective stock from other Irish pharmacies.
            = link_to "Find out more", new_survey_response_path, class: 'banner_btn'
      .carousel-item
        = image_tag("slide_3.jpg", alt: "Save time and money")
        .container.caption_area
          .carousel-caption
            %h3 SAVE TIME AND MONEY
            %p Reduce time and money wasted disposing of expired medications. Source low-usage medications at highly competitive prices.
            = link_to "Find out more", new_survey_response_path, class: 'banner_btn'
