%header#home
  #carousel.carousel.slide{"data-ride" => "carousel", "data-interval" => "10000"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel"}
    .carousel-inner{:role => "listbox"}
      .carousel-item.active
        = image_tag("slide_1.jpg", alt: "Reduce medication wastage")
        .container.caption_area
          .carousel-caption
            %h3 REDUCE MEDICATION WASTAGE
            %p Holding excess medications with no forseeable usage? You can make these available for other Irish pharmacies to purchase on the RenuPharm Marketplace.
            = link_to "Find out more", new_survey_response_path, class: 'banner_btn'
      .carousel-item
        = image_tag("slide_2.jpg", alt: "Source low-cost medications")
        .container.caption_area
          .carousel-caption
            %h3 SOURCE LOW-COST MEDICATIONS
            %p Sourcing medications at a reasonable cost is a constant challenge. RenuPharm offers a unique channel for sourcing cost effective stock from other Irish pharmacies.
            = link_to "Find out more", new_survey_response_path, class: 'banner_btn'
      .carousel-item
        = image_tag("slide_3.jpg", alt: "Save time and money")
        .container.caption_area
          .carousel-caption
            %h3 SAVE TIME AND MONEY
            %p Save time and money by reducing disposal of expired medications. Source medications at highly competitive prices.
            = link_to "Find out more", new_survey_response_path, class: 'banner_btn'
