%section#register_interest
  .contact
    .container
      .row
        .col-md-5
          .contact_content
            %h4 Want to be kept in the loop?
            %p If you would like to be updated about progress and developments on the RenuPharm platform register your interest here.
        .col-md-7
          = form_for @sales_contact, class: 'form-inline' do |f|
            .form-group
              = f.text_field :first_name, class: 'form-control', placeholder: I18n.t("sales.contact.first_name")
            .form-group
              = f.text_field :surname, class: 'form-control', placeholder: I18n.t("sales.contact.surname")
            .form-group
              = f.text_field :email, class: 'form-control', placeholder: I18n.t("sales.contact.email")
            = f.submit "Update me", class: 'btn submit_btn'
