%section#privacy_policy
  .container
    .row
      .col-xs-12
        .heading_area.text-center
          %h2 PRIVACY POLICY
          %hr
        %p
          This is the privacy notice of RenuPharm LLP. In this document, "we", "our", or "us" refer to Domhnall Murphy and Paul McGivern trading as RenuPharm.
        %p
          We are company number [company registration number] registered in Ireland.
        %p
          Our registered office is at 1A Sandymount Green, Dublin, Ireland.



        %h3 Introduction
        %ol.introduction
          %li This is a notice to inform you of our policy about all information that we record about you. It sets out the conditions under which we may process any information that we collect from you, or that you provide to us. It covers information that could identify you (“personal information”) and information that could not. In the context of the law and this notice, “process” means collect, store, transfer, use or otherwise act on information.
          %li We regret that if there are one or more points below with which you are not happy, your only recourse is to leave our website immediately.
          %li We take seriously the protection of your privacy and confidentiality. We understand that all visitors to our website are entitled to know that their personal data will not be used for any purpose unintended by them, and will not accidentally fall into the hands of a third party.
          %li We undertake to preserve the confidentiality of all information you provide to us, and hope that you reciprocate.
          %li Our policy complies with the Data Protection Act 2018 (Act) accordingly incorporating the EU General Data Protection Regulation (GDPR).
          %li The law requires us to tell you about your rights and our obligations to you in regards to the processing and control of your personal data. We do this now, by requesting that you read the information provided at www.knowyourprivacyrights.org
          %li Except as set out below, we do not share, or sell, or disclose to a third party, any information collected through our website.



        %h3 The bases on which we process information about you
        %p
          The law requies us to determine under which of six defined bases we process different categories of your personal information, and to notify you of the basis for each category.
        %p
          If a basis on which we process your personal information is no longer relevant then we shall immediately stop processing your data.
        %p
          If the basis changes then if required by law we shall notify you of the change and of any new basis under which we have determined that we can continue to process your information.
        %ol.bases_for_processing_info
          %li
            %h4 Information we process because we have a contractual obligation with you
            %p
              When you create an account on our website, buy a product or service from us, or otherwise agree to our terms and conditions, a contract is formed between you and us.
            %p
              In order to carry out our obligations under that contract we must process the information you give us. Some of this information may be personal information.
            %p
              We may use it in order to:
              %ol
                %li verify your identity for security purposes
                %li sell products to you
                %li provide you with our services
                %li provide you with suggestions and advice on products, services and how to obtain the most from using our website
            %p
              We process this information on the basis there is a contract between us, or that you have requested we use the information before we enter into a legal contract.
            %p
              Additionally, we may aggregate this information in a general way and use it to provide class information, for example to monitor our performance with respect to a particular service we provide. If we use it for this purpose, you as an individual will not be personally identifiable.
            %p
              We shall continue to process this information until the contract between us ends or is terminated by either party under the terms of the contract.
          %li
            %h4 Information we process with your consent
            %p
              Through certain actions when otherwise there is no contractual relationship between us, such as when you browse our website or ask us to provide you more information about our business, including our products and services, you provide your consent to us to process information that may be personal information.
            %p
              Wherever possible, we aim to obtain your explicit consent to process this information, for example, by asking you to agree to our use of cookies.
            %p
              Sometimes you might give your consent implicitly, such as when you send us a message by e-mail to which you would reasonably expect us to reply.
            %p
              Except where you have consented to our use of your information for a specific purpose, we do not use your information in any way that would identify you personally. We may aggregate it in a general way and use it to provide class information, for example to monitor the performance of a particular page on our website.
            %p
              If you have given us explicit permission to do so, we may from time to time pass your name and contact information to selected associates whom we consider may provide services or products you would find useful.
            %p
              We continue to process your information on this basis until you withdraw your consent or it can be reasonably assumed that your consent no longer exists.
            %p
              You may withdraw your consent at any time by instructing us
              = succeed "." do
                link_to "dev@renupharm.ie", "mailto:dev@renupharm.ie"
              However, if you do so, you may not be able to use our website or our services further.
          %li
            %h4 Information we process for the purposes of legitimate interests
            %p
              We may process information on the basis there is a legitimate interest, either to you or to us, of doing so.
            %p
              Where we process your information on this basis, we do after having given careful consideration to:
              %ul
                %li whether the same objective could be achieved through other means
                %li whether processing (or not processing) might cause you harm
                %li whether you would expect us to process your data, and whether you would, in the round, consider it reasonable to do so
              For example, we may process your data on this basis for the purposes of:
              %ul
                %li record-keeping for the proper and necessary administration of our business
                %li responding to unsolicited communication from you to which we believe you would expect a response
                %li protecting and asserting the legal rights of any party
                %li insuring against or obtaining professional advice that is required to manage business risk
                %li protecting your interests where we believe we have a duty to do so.
          %li
            %h4 Information we process because we have a legal obligation
            %p
              We are subject to the law like everyone else. Sometimes, we must process your information in order to comply with a statutory obligation.
            %p
              For example, we may be required to give information to legal authorities if they so request or if they have the proper authorisation such as a search warrant or court order.
            %p
              This may include your personal information.



        %h3 Specific uses of information you provide to us
        %ol.specific_uses_of_info_collected
          %li
            %h4 Information provided on the understanding that it will be shared with a third party
            %p
              Our website allows you to post information with a view to that information being read, copied, downloaded, or used by other people.
            %p
              Examples include:
              %ol.posted_info_examples
                %li posting a product listing to the marketplace
                %li updating details about your pharmacy to enhance your pharmacy profile
                %li commenting on a listed product or seller, or responding to such a comment
                %li using any platform function that allows you to provide feedback on the service, specific products, services or other users
            %p
              In posting personal information, it is up to you to satisfy yourself about the privacy level of every person who might use it.
            %p
              We do store it, and we reserve a right to use it in the future in any way we decide.
            %p
              Once your information enters the public domain, we have no control over what any individual third party may do with it. We accept no responsibility for their actions at any time.
            %p
              Provided your request is reasonable and there is no legal basis for us to retain it, then at our discretion we may agree to your request to delete personal information that you have posted. You can make a request by contacting us at
              = succeed "." do
                link_to "dev@renupharm.ie", "mailto:dev@renupharm.ie"
          %li
            %h4 Complaints regarding content on our website
            %p
              Our website is a publishing medium. Users who have been granted a user account may publish product listings, comments etc which may include information about himself, herself or some other person.
            %p
              We attempt to moderate user generated content, but we are not always able to do so as soon as that content is published.
            %p
              If you complain about any of the content on our website, we shall investigate your complaint.
            %p
              If we feel it is justified or if we believe the law requires us to do so, we shall remove the content while we investigate.
            %p
              Free speech is a fundamental right, so we have to make a judgment as to whose right will be obstructed: yours, or that of the person who posted the content that offends you.
            %p
              If we think your complaint is vexatious or without any basis, we shall not correspond with you about it.
          %li
            %h4 Information relating to your method of payment
            %p
              In order to make purchases on the platform you will need to submit card details. These card details are captured and encrypted in your browser before being sent to our server, from there we communicate the encrypted card details to our payment provider, Adyen.  Once the card has been authorized a recurring contract is set up. This means that the details will be retained on Adyen to allow us to offer single-click checkout on subsequent orders/purchases with this same card.
            %p
              At no point do we hold or store your raw card details, instead they are entrusted to a reputable payment provider (Adyen). We do retrieve partial card data from Adyen to help you to identify the particular card that is associated with your account.
          %li
            %h4 Job application and employment
            %p
              If you send us information in connection with a job application, we may keep it for up to three years in case we decide to contact you at a later date.
            %p
              If we employ you, we collect information about you and your work from time to time throughout the period of your employment. This information will be used only for purposes directly relevant to your employment. After your employment has ended, we will keep your file for up to six years before destroying or deleting it.
          %li
            %h4 Sending a message to our support team
            %p
              When you contact us, whether by telephone, through our website or by e-mail, we collect the data you have given to us in order to reply with the information you need.
            %p
              We record your request and our reply in order to increase the efficiency of our business.
            %p
              We keep personally identifiable information associated with your message, such as your name and email address so as to be able to track our communications with you to provide a high quality service.
          %li
            %h4 Complaining
            %p
              When we receive a complaint, we record all the information you have given to us.
            %p
              We use that information to resolve your complaint.
            %p
              If your complaint reasonably requires us to contact some other person, we may decide to give to that other person some of the information contained in your complaint. We do this as infrequently as possible, but it is a matter for our sole discretion as to whether we do give information, and if we do, what that information is.
            %p
              We may also compile statistics showing information obtained from this source to assess the level of service we provide, but not in a way that could identify you or any other person.



        %h3 Use of information we collect through automated systems when you visit our website
        %ol.uses_of_info_collected_automatically
          %li
            %h4 Cookies
            %p
              Cookies are small text files that are placed on your computer's hard drive by your web browser when you visit any website. They allow information gathered on one web page to be stored until it is needed for use on another, allowing a website to provide you with a personalised experience and the website owner with statistics about how you use the website so that it can be improved.
            %p
              Some cookies may last for a defined period of time, such as one day or until you close your browser. Others last indefinitely.
            %p
              Your web browser should allow you to delete any you choose. It also should allow you to prevent or limit their use.
            %p
              Our website uses cookies. They are placed by software that operates on our servers, and by software operated by third parties whose services we use.
            %p
              When you first visit our website, we ask you whether you wish us to use cookies. If you choose not to accept them, we shall not use them for your visit except to record that you have not consented to their use for any other purpose.
            %p
              If you choose not to use cookies or you prevent their use through your browser settings, you will not be able to use all the functionality of our website.
            %p
              As a registered user of the service (i.e. if you have a user account) you must accept our User Agreement, which consents to our use of cookies on the site.
            %p
              We use cookies in the following ways:
              %ol.uses_of_cookies
                %li to track how you use our website
                %li to record whether you have seen specific messages we display on our website
                %li to keep you signed in our site
                %li to record your answers to surveys and questionnaires on our site while you complete them
                %li to track website performance
            %p
              We provide more information about the cookies we use in our
              = succeed "." do
                = link_to "Cookie Policy", cookies_policy_pages_path
          %li
            %h4 Personal identifiers from your browsing activity
            %p
              Requests by your web browser to our servers for web pages and other content on our website are recorded.
            %p
              We record information such as your geographical location, your Internet service provider and your IP address. We also record information about the software you are using to browse our website, such as the type of computer or device and the screen resolution.
            %p
              We use this information in aggregate to assess the popularity of the webpages on our website and how we perform in providing content to you.
            %p
              If combined with other information we know about you from previous visits, the data possibly could be used to identify you personally, even if you are not signed in to our website.		
          %li
            %h4 Our use of re-marketing
            %p
              Re-marketing involves placing a cookie on your computer when you browse our website in order to be able to serve to you an advert for our products or services when you visit some other website.
            %p
              We may use a third party to provide us with re-marketing services from time to time. If so, then if you have consented to our use of cookies, you may see advertisements for our products and services on other websites.



        %h3 Disclosure and sharing of your information
        %ol.disclosure_and_sharing_info
          %li
            %h4 Information we obtain from third parties
            %p
              Although we do not disclose your personal information to any third party (except as set out in this notice), we sometimes receive data that is indirectly made up from your personal information from third parties whose services we use.
            %p
              No such information is personally identifiable to you.
          %li
            %h4 Third party advertising on our website
            %p
              Third parties may advertise on our website. In doing so, those parties, their agents or other companies working for them may use technology that automatically collects information about you when their advertisement is displayed on our website.
            %p
              They may also use other technology such as cookies or JavaScript to personalise the content of, and to measure the performance of their adverts.
            %p
              We do not have control over these technologies or the data that these parties obtain. Accordingly, this privacy notice does not cover the information practices of these third parties.
          %li
            %h4 Credit reference
            %p
              To assist in combating fraud, we share information with credit reference agencies, so far as it relates to clients or customers who instruct their credit card issuer to cancel payment to us without having first provided an acceptable reason to us and given us the opportunity to refund their money.
          %li
            %h4 Data may be processed outside the European Union
            %p
              Our platform is hosted in Ireland.
            %p
              We may also use outsourced services in countries outside the European Union from time to time in other aspects of our business.
            %p
              Accordingly data obtained within Ireland or any other country could be processed outside the European Union.
            %p
              We use the following safeguards with respect to data transferred outside the European Union:
              %ol.extra_eu_data_safeguards
                %li the processor is within the same corporate group as our business or organisation and abides by the same binding corporate rules regarding data processing
                %li the data protection clauses in our contracts with data processors include transfer clauses written by or approved by a supervisory authority in the European Union
                %li we comply with a code of conduct approved by a supervisory authority in the European Union
                %li we are certified under an approved certification mechanism as provided for in the Act
                %li both our organisation and the processor are public authorities between whom there is either a legally binding agreement or administrative arrangements approved by a supervisory authority in the European Union relating to protection of your information




        %h3 Access to your own information
        %ol.access_to_info
          %li
            %h4 Access to your personal information
            %ol.acces_to_personal_info
              %li At any time you may review or update personally identifiable information that we hold about you, by signing in to your account on our website.
              %li
                To obtain a copy of any information that is not provided on our website you may send us a request at
                = succeed "." do
                  link_to "dev@renupharm.ie", "mailto:dev@renupharm.ie"
              %li After receiving the request, we will tell you when we expect to provide you with the information, and whether we require any fee for providing it to you.
          %li
            %h4 Removal of your information
            %p
              If you wish us to remove personally identifiable information from our website, you may contact us at
              = succeed "." do
                link_to "dev@renupharm.ie", "mailto:dev@renupharm.ie"
            %p
              This may limit the service we can provide to you.
          %li
            %h4 Verification of your information
            %p
              When we receive any request to access, edit or delete personal identifiable information we shall first take reasonable steps to verify your identity before granting you access or otherwise taking any action. This is important to safeguard your information.



        %h3 Other matters
        %ol.other_matters
          %li
            %h4 Use of site by children
            %ol.use_by_children
              %li We do not sell products or provide services for purchase by children, nor do we market to children.
              %li If you are under 18, you may use our website only with consent from a parent or guardian
          %li
            %h4 Encryption of data sent between us
            %p
              We use Secure Sockets Layer (SSL) certificates to verify our identity to your browser and to encrypt any data you give us.
            %p
              Whenever information is transferred between us, you can check that it is done so using SSL by looking for a closed padlock symbol or other trust mark in your browser’s URL bar or toolbar.
          %li
            %h4 How you can complain
            %ol.how_to_complain
              %li
                If you are not happy with our privacy policy or if have any complaint then you should tell us by email.
                Our address is
                = succeed "." do
                  link_to "dev@renupharm.ie", "mailto:dev@renupharm.ie"
              %li
                If a dispute is not settled then we hope you will agree to attempt to resolve it by engaging in good faith
                with us in a process of mediation or arbitration.
              %li
                If you are in any way dissatisfied about how we process your personal information, you have a right to
                lodge a complaint with the Data Protection Commissioner. This can be done at
                = succeed "." do
                  link_to "https://www.dataprotection.ie", "https://www.dataprotection.ie"
          %li
            %h4 Retention period for personal data
            %p
              Except as otherwise mentioned in this privacy notice, we keep your personal information only for as long as required by us:
            %ol.reasons_for_retention
              %li to provide you with the services you have requested;
              %li to comply with other law, including for the period demanded by our tax authorities;
              %li to support a claim or defence in court.	
          %li
            %h4 Compliance with the law
            %p
              Our privacy policy has been compiled so as to comply with the law of every country or legal jurisdiction in which we aim to do business. If you think it fails to satisfy the law of your jurisdiction, we should like to hear from you.
            %p
              However, ultimately it is your choice as to whether you wish to use our website.
          %li
            %h4 Review of this privacy policy
            %p
              We may update this privacy notice from time to time as necessary. The terms that apply to you are those posted here on our website on the day you use our website. We advise you to print a copy for your records. 
            %p
              If you have any question regarding our privacy policy, please contact us. 
