.row
  .col-md-12
    .card.cart
      .heading
        %h2= t("marketplace.order.title", reference: @order.reference)
      %table.order_details
        %thead
          %tr
            %td.product= t("marketplace.order.product")
            %td.quantity= t("marketplace.order.quantity")
            %td.price= t("marketplace.order.price")
        %tbody
          - @order.line_items.each do |line_item|
            %tr
              %td.product=line_item.product.name
              %td.quantity=line_item.quantity
              %td.quantity=line_item.display_price
        %tfoot
          %td
          %td.total_price_label= t("marketplace.order.total_price")
          %td.total_price= @order.display_price
