.card.cart.order_receipt
  .row
    .col-12
      .heading
        %h2= t("marketplace.order.title", reference: @order.reference)
  .row
    .col-12.col-md-6.order-md-last
      %table.order_details
        %thead
          %tr
            %td.product= t("marketplace.order.product")
            %td.quantity= t("marketplace.order.quantity")
            %td.price= t("marketplace.order.price")
        %tbody
          - @order.line_items.each do |line_item|
            %tr
              %td.product=line_item.product.name
              %td.quantity=line_item.quantity
              %td.quantity=line_item.display_price
        %tfoot
          %td
          %td.total_price_label= t("marketplace.order.total_price")
          %td.total_price= @order.display_price
      #info_and_action
        .state{ class: [ @order.state, @order.bought_by?(current_user.pharmacy) ? 'buying' : '', @order.sold_by?(current_user.pharmacy) ? 'selling' : ''].compact }
          - if @order.bought_by?(current_user.pharmacy)
            = t("marketplace.order.instructions.#{@order.state}.buyer")
          - elsif @order.sold_by?(current_user.pharmacy)
            = t("marketplace.order.instructions.#{@order.state}.seller")

        - if @order.completed?
          = render "marketplace/order_feedbacks/show", feedback: @feedback
        - elsif policy(@order).update?
          = form_for @order do |form|
            = form.submit t("marketplace.order.actions.#{@order.state}"),
              id: "update_order_status",
              class: "btn btn-success"


    .col-12.col-md-6.order-md-first
      .products{data: { behaviour: "vue" } }
        - @order.line_items.each do |line_item|
          <product v-bind="#{line_item.product.as_select_json.to_json}"></product>

  .row.order_seller_buyer
    .col-12.col-md-5
      .seller.pharmacy_profile
        %h3= t("marketplace.order.seller")
        = render "marketplace/shared/pharmacies/contact_details", pharmacy: @order.selling_pharmacy
    .col-md-2
      %h3.fa.fa-arrow-right
    .col-12.col-md-5
      .buyer.pharmacy_profile
        %h3= t("marketplace.order.buyer")
        = render "marketplace/shared/pharmacies/contact_details", pharmacy: @order.buying_pharmacy

  .row.order_history_items
    .col-12
      %h2= t("marketplace.order.history_items")
    .col-12
      = render "marketplace/order_history_items/table", items: @order.history_items

- if current_user.admin?
  .card
    .comments
      %h2
        = t("marketplace.order.comments")
        = render 'admin/comments/comment_list', commentable: @order
