%h4.card-title.mb-0 Recent Listings

- if listings.any?

  %ul
    - listings.each do |listing|
      %li.listing
        .product_name= link_to listing.product_name, edit_marketplace_pharmacy_listing_path(listing.pharmacy, listing)
        .order_value= listing.display_price
        .created_at= l(listing.created_at, format: :short)

  .actions
    = link_to t("general.see_more"), marketplace_pharmacy_path(current_user.pharmacy) + "#pharmacy_listings"

- else

  %p.no_recent_activity= t("dashboard.pharmacy.no_recent_listings")

