.row
  .col-sm-6.col-lg-3
    .card.text-white.bg-primary
      .card-body.pb-0
        .btn-group.float-right
          %button.btn.btn-transparent.dropdown-toggle.p-0{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
            %i.icon-settings
          .dropdown-menu.dropdown-menu-right
            %a.dropdown-item{href: "#"} Action
            %a.dropdown-item{href: "#"} Another action
            %a.dropdown-item{href: "#"} Something else here
        .text-value= @total_sales_pharmacies
        %div Sales Pharmacies
      #sales_pharmacies.chart-wrapper.mt-3.mx-3{style: "height:70px;"}
        .data.hidden
          = @pharmacies_chart_presenter.present
        %canvas.chart{height: "70"}
  / /.col
  .col-sm-6.col-lg-3
    .card.text-white.bg-info
      .card-body.pb-0
        %button.btn.btn-transparent.p-0.float-right{type: "button"}
          %i.icon-location-pin
        .text-value 9.823
        %div Members online
      #sales_contacts.chart-wrapper.mt-3.mx-3{style: "height:70px;"}
        %canvas#card-chart2.chart{height: "70"}
  / /.col
  .col-sm-6.col-lg-3
    .card.text-white.bg-warning
      .card-body.pb-0
        .btn-group.float-right
          %button.btn.btn-transparent.dropdown-toggle.p-0{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
            %i.icon-settings
          .dropdown-menu.dropdown-menu-right
            %a.dropdown-item{href: "#"} Action
            %a.dropdown-item{href: "#"} Another action
            %a.dropdown-item{href: "#"} Something else here
        .text-value 9.823
        %div Members online
      .chart-wrapper.mt-3{style: "height:70px;"}
        %canvas#card-chart3.chart{height: "70"}
  / /.col
  .col-sm-6.col-lg-3
    .card.text-white.bg-danger
      .card-body.pb-0
        .btn-group.float-right
          %button.btn.btn-transparent.dropdown-toggle.p-0{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
            %i.icon-settings
          .dropdown-menu.dropdown-menu-right
            %a.dropdown-item{href: "#"} Action
            %a.dropdown-item{href: "#"} Another action
            %a.dropdown-item{href: "#"} Something else here
        .text-value 9.823
        %div Members online
      .chart-wrapper.mt-3.mx-3{style: "height:70px;"}
        %canvas#card-chart4.chart{height: "70"}
  / /.col
/ /.row
.card
  .card-body
    .row
      .col-sm-5
        %h4.card-title.mb-0 Traffic
        .small.text-muted November 2017
      / /.col
      .col-sm-7.d-none.d-md-block
        %button.btn.btn-primary.float-right{type: "button"}
          %i.icon-cloud-download
        .btn-group.btn-group-toggle.float-right.mr-3{"data-toggle" => "buttons"}
          %label.btn.btn-outline-secondary
            %input#option1{autocomplete: "off", name: "options", type: "radio"}/
            Day
          %label.btn.btn-outline-secondary.active
            %input#option2{autocomplete: "off", checked: "checked", name: "options", type: "radio"}/
            Month
          %label.btn.btn-outline-secondary
            %input#option3{autocomplete: "off", name: "options", type: "radio"}/
            Year
      / /.col
    / /.row
    .chart-wrapper{style: "height:300px;margin-top:40px;"}
      %canvas#main-chart.chart{height: "300"}
  .card-footer
    .row.text-center
      .col-sm-12.col-md.mb-sm-2.mb-0
        .text-muted Visits
        %strong 29.703 Users (40%)
        .progress.progress-xs.mt-2
          .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", role: "progressbar", style: "width: 40%"}
      .col-sm-12.col-md.mb-sm-2.mb-0
        .text-muted Unique
        %strong 24.093 Users (20%)
        .progress.progress-xs.mt-2
          .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", role: "progressbar", style: "width: 20%"}
      .col-sm-12.col-md.mb-sm-2.mb-0
        .text-muted Pageviews
        %strong 78.706 Views (60%)
        .progress.progress-xs.mt-2
          .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", role: "progressbar", style: "width: 60%"}
      .col-sm-12.col-md.mb-sm-2.mb-0
        .text-muted New Users
        %strong 22.123 Users (80%)
        .progress.progress-xs.mt-2
          .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", role: "progressbar", style: "width: 80%"}
      .col-sm-12.col-md.mb-sm-2.mb-0
        .text-muted Bounce Rate
        %strong 40.15%
        .progress.progress-xs.mt-2
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", role: "progressbar", style: "width: 40%"}
/ /.card
.row
  .col-sm-6.col-lg-3
    .brand-card
      .brand-card-header.bg-facebook
        %i.fa.fa-facebook
        .chart-wrapper
          %canvas#social-box-chart-1{height: "90"}
      .brand-card-body
        %div
          .text-value 89k
          .text-uppercase.text-muted.small friends
        %div
          .text-value 459
          .text-uppercase.text-muted.small feeds
  / /.col
  .col-sm-6.col-lg-3
    .brand-card
      .brand-card-header.bg-twitter
        %i.fa.fa-twitter
        .chart-wrapper
          %canvas#social-box-chart-2{height: "90"}
      .brand-card-body
        %div
          .text-value 973k
          .text-uppercase.text-muted.small followers
        %div
          .text-value 1.792
          .text-uppercase.text-muted.small tweets
  / /.col
  .col-sm-6.col-lg-3
    .brand-card
      .brand-card-header.bg-linkedin
        %i.fa.fa-linkedin
        .chart-wrapper
          %canvas#social-box-chart-3{height: "90"}
      .brand-card-body
        %div
          .text-value 500+
          .text-uppercase.text-muted.small contacts
        %div
          .text-value 292
          .text-uppercase.text-muted.small feeds
  / /.col
  .col-sm-6.col-lg-3
    .brand-card
      .brand-card-header.bg-google-plus
        %i.fa.fa-google-plus
        .chart-wrapper
          %canvas#social-box-chart-4{height: "90"}
      .brand-card-body
        %div
          .text-value 894
          .text-uppercase.text-muted.small followers
        %div
          .text-value 92
          .text-uppercase.text-muted.small circles
  / /.col
/ /.row
.row
  .col-md-12
    .card
      .card-header Traffic &amp; Sales
      .card-body
        .row
          .col-sm-6
            .row
              .col-sm-6
                .callout.callout-info
                  %small.text-muted New Clients
                  %br/
                  %strong.h4 9,123
                  .chart-wrapper
                    %canvas#sparkline-chart-1{height: "30", width: "100"}
              / /.col
              .col-sm-6
                .callout.callout-danger
                  %small.text-muted Recuring Clients
                  %br/
                  %strong.h4 22,643
                  .chart-wrapper
                    %canvas#sparkline-chart-2{height: "30", width: "100"}
              / /.col
            / /.row
            %hr.mt-0/
            .progress-group.mb-4
              .progress-group-prepend
                %span.progress-group-text Monday
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "34", role: "progressbar", style: "width: 34%"}
                .progress.progress-xs
                  .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "78", role: "progressbar", style: "width: 78%"}
            .progress-group.mb-4
              .progress-group-prepend
                %span.progress-group-text Tuesday
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "56", role: "progressbar", style: "width: 56%"}
                .progress.progress-xs
                  .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "94", role: "progressbar", style: "width: 94%"}
            .progress-group.mb-4
              .progress-group-prepend
                %span.progress-group-text Wednesday
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "12", role: "progressbar", style: "width: 12%"}
                .progress.progress-xs
                  .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "67", role: "progressbar", style: "width: 67%"}
            .progress-group.mb-4
              .progress-group-prepend
                %span.progress-group-text Thursday
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "43", role: "progressbar", style: "width: 43%"}
                .progress.progress-xs
                  .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "91", role: "progressbar", style: "width: 91%"}
            .progress-group.mb-4
              .progress-group-prepend
                %span.progress-group-text Friday
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "22", role: "progressbar", style: "width: 22%"}
                .progress.progress-xs
                  .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "73", role: "progressbar", style: "width: 73%"}
            .progress-group.mb-4
              .progress-group-prepend
                %span.progress-group-text Saturday
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "53", role: "progressbar", style: "width: 53%"}
                .progress.progress-xs
                  .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "82", role: "progressbar", style: "width: 82%"}
            .progress-group.mb-4
              .progress-group-prepend
                %span.progress-group-text Sunday
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "9", role: "progressbar", style: "width: 9%"}
                .progress.progress-xs
                  .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "69", role: "progressbar", style: "width: 69%"}
          / /.col
          .col-sm-6
            .row
              .col-sm-6
                .callout.callout-warning
                  %small.text-muted Pageviews
                  %br/
                  %strong.h4 78,623
                  .chart-wrapper
                    %canvas#sparkline-chart-3{height: "30", width: "100"}
              / /.col
              .col-sm-6
                .callout.callout-success
                  %small.text-muted Organic
                  %br/
                  %strong.h4 49,123
                  .chart-wrapper
                    %canvas#sparkline-chart-4{height: "30", width: "100"}
              / /.col
            / /.row
            %hr.mt-0/
            .progress-group
              .progress-group-header
                %i.icon-user.progress-group-icon
                %div Male
                .ml-auto.font-weight-bold 43%
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "43", role: "progressbar", style: "width: 43%"}
            .progress-group.mb-5
              .progress-group-header
                %i.icon-user-female.progress-group-icon
                %div Female
                .ml-auto.font-weight-bold 37%
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "43", role: "progressbar", style: "width: 43%"}
            .progress-group
              .progress-group-header.align-items-end
                %i.icon-globe.progress-group-icon
                %div Organic Search
                .ml-auto.font-weight-bold.mr-2 191.235
                .text-muted.small (56%)
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "56", role: "progressbar", style: "width: 56%"}
            .progress-group
              .progress-group-header.align-items-end
                %i.icon-social-facebook.progress-group-icon
                %div Facebook
                .ml-auto.font-weight-bold.mr-2 51.223
                .text-muted.small (15%)
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "15", role: "progressbar", style: "width: 15%"}
            .progress-group
              .progress-group-header.align-items-end
                %i.icon-social-twitter.progress-group-icon
                %div Twitter
                .ml-auto.font-weight-bold.mr-2 37.564
                .text-muted.small (11%)
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "11", role: "progressbar", style: "width: 11%"}
            .progress-group
              .progress-group-header.align-items-end
                %i.icon-social-linkedin.progress-group-icon
                %div LinkedIn
                .ml-auto.font-weight-bold.mr-2 27.319
                .text-muted.small (8%)
              .progress-group-bars
                .progress.progress-xs
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "8", role: "progressbar", style: "width: 8%"}
          / /.col
        / /.row
        %br/
        %table.table.table-responsive-sm.table-hover.table-outline.mb-0
          %thead.thead-light
            %tr
              %th.text-center
                %i.icon-people
              %th User
              %th.text-center Country
              %th Usage
              %th.text-center Payment Method
              %th Activity
          %tbody
            %tr
              %td.text-center
                .avatar
                  = image_tag "placeholder-user.png", alt: "Avatar", class: "img-avatar"
                  %span.avatar-status.badge-success
              %td
                %div Yiorgos Avraamu
                .small.text-muted
                  %span New
                  | Registered: Jan 1, 2015
              %td.text-center
                %i#us.flag-icon.flag-icon-us.h4.mb-0{title: "us"}
              %td
                .clearfix
                  .float-left
                    %strong 50%
                  .float-right
                    %small.text-muted Jun 11, 2015 - Jul 10, 2015
                .progress.progress-xs
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", role: "progressbar", style: "width: 50%"}
              %td.text-center
                %i.fa.fa-cc-mastercard{style: "font-size:24px"}
              %td
                .small.text-muted Last login
                %strong 10 sec ago
            %tr
              %td.text-center
                .avatar
                  = image_tag "placeholder-user.png", alt: "Avatar", class: "img-avatar"
                  %span.avatar-status.badge-danger
              %td
                %div Avram Tarasios
                .small.text-muted
                  %span Recurring
                  | Registered: Jan 1, 2015
              %td.text-center
                %i#br.flag-icon.flag-icon-br.h4.mb-0{title: "br"}
              %td
                .clearfix
                  .float-left
                    %strong 10%
                  .float-right
                    %small.text-muted Jun 11, 2015 - Jul 10, 2015
                .progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "10", role: "progressbar", style: "width: 10%"}
              %td.text-center
                %i.fa.fa-cc-visa{style: "font-size:24px"}
              %td
                .small.text-muted Last login
                %strong 5 minutes ago
            %tr
              %td.text-center
                .avatar
                  = image_tag "placeholder-user.png", alt: "Avatar", class: "img-avatar"
                  %span.avatar-status.badge-warning
              %td
                %div Quintin Ed
                .small.text-muted
                  %span New
                  | Registered: Jan 1, 2015
              %td.text-center
                %i#in.flag-icon.flag-icon-in.h4.mb-0{title: "in"}
              %td
                .clearfix
                  .float-left
                    %strong 74%
                  .float-right
                    %small.text-muted Jun 11, 2015 - Jul 10, 2015
                .progress.progress-xs
                  .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "74", role: "progressbar", style: "width: 74%"}
              %td.text-center
                %i.fa.fa-cc-stripe{style: "font-size:24px"}
              %td
                .small.text-muted Last login
                %strong 1 hour ago
            %tr
              %td.text-center
                .avatar
                  = image_tag "placeholder-user.png", alt: "Avatar", class: "img-avatar"
                  %span.avatar-status.badge-secondary
              %td
                %div Enéas Kwadwo
                .small.text-muted
                  %span New
                  | Registered: Jan 1, 2015
              %td.text-center
                %i#fr.flag-icon.flag-icon-fr.h4.mb-0{title: "fr"}
              %td
                .clearfix
                  .float-left
                    %strong 98%
                  .float-right
                    %small.text-muted Jun 11, 2015 - Jul 10, 2015
                .progress.progress-xs
                  .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "98", role: "progressbar", style: "width: 98%"}
              %td.text-center
                %i.fa.fa-paypal{style: "font-size:24px"}
              %td
                .small.text-muted Last login
                %strong Last month
            %tr
              %td.text-center
                .avatar
                  = image_tag "placeholder-user.png", alt: "Avatar", class: "img-avatar"
                  %span.avatar-status.badge-success
              %td
                %div Agapetus Tadeáš
                .small.text-muted
                  %span New
                  | Registered: Jan 1, 2015
              %td.text-center
                %i#es.flag-icon.flag-icon-es.h4.mb-0{title: "es"}
              %td
                .clearfix
                  .float-left
                    %strong 22%
                  .float-right
                    %small.text-muted Jun 11, 2015 - Jul 10, 2015
                .progress.progress-xs
                  .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "22", role: "progressbar", style: "width: 22%"}
              %td.text-center
                %i.fa.fa-google-wallet{style: "font-size:24px"}
              %td
                .small.text-muted Last login
                %strong Last week
            %tr
              %td.text-center
                .avatar
                  = image_tag "placeholder-user.png", alt: "Avatar", class: "img-avatar"
                  %span.avatar-status.badge-danger
              %td
                %div Friderik Dávid
                .small.text-muted
                  %span New
                  | Registered: Jan 1, 2015
              %td.text-center
                %i#pl.flag-icon.flag-icon-pl.h4.mb-0{title: "pl"}
              %td
                .clearfix
                  .float-left
                    %strong 43%
                  .float-right
                    %small.text-muted Jun 11, 2015 - Jul 10, 2015
                .progress.progress-xs
                  .progress-bar.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "43", role: "progressbar", style: "width: 43%"}
              %td.text-center
                %i.fa.fa-cc-amex{style: "font-size:24px"}
              %td
                .small.text-muted Last login
                %strong Yesterday
= javascript_include_tag "dashboard/main"
