%section
  .container
    .row
      .col-xs-12

        .heading_area.text-center
          %h1
            = t('surveys.heading')
          %hr
          %p
            = t('surveys.intro')

        %div.survey
          - error_keys = @survey_response.errors.keys.map(&:to_s)
          - if @survey_response.errors[:base].any?
            .error_explanation
              %ul
                - @survey_response.errors[:base].messages.each do |msg|
                  %li= msg

          %p
            = t('surveys.survey.intro')

          = form_for @survey_response do |f|
            %ol.survey_questions
              - (1..4).each do |i|
                %li
                  %fieldset.form-group{class: error_keys.include?("question_#{i}") ? 'error' : '' }
                    %p= t("surveys.survey.question_#{i}.question")
                    %div.form-check
                      = f.radio_button "question_#{i}", true, class: 'form-check-input'
                      = f.label "question_#{i}", t("surveys.survey.response.yes"), class: 'form-check-label'
                    %div.form-check
                      = f.radio_button "question_#{i}", false, class: 'form-check-input'
                      = f.label "question_#{i}", t("surveys.survey.response.no"), class: 'form-check-label'
              %li
                %fieldset.form-group
                  %p= t("surveys.survey.question_5.question")
                  - SurveyResponse::WASTAGE_BUCKETS.each do |bucket|
                    %div.form-check
                      = f.radio_button "question_5", bucket, class: 'form-check-input'
                      = f.label bucket, t("surveys.survey.question_5.labels.#{bucket}"), class: 'form-check-label'
            .form-group
              = f.label :additional_notes, t('surveys.survey.additional_notes.label')
              = f.text_area :additional_notes, class: 'form-control'

            %br
            %hr
            %br

            %p
              = t('surveys.survey.interested.intro')

            = f.fields_for :sales_contact do |scf|
              .form-group{ class: error_keys.include?('sales_contact.first_name') ? 'error' : '' }
                = scf.label :first_name, t('surveys.survey.interested.first_name_label')
                = scf.text_field :first_name, class: 'form-control'
              .form-group{ class: error_keys.include?('sales_contact.surname') ? 'error' : '' }
                = scf.label :surname, t('surveys.survey.interested.surname_label')
                = scf.text_field :surname, class: 'form-control'
              %div{ class: error_keys.include?('sales_contact.base') ? 'error_explanation' : 'no_error' }
                .error_message= t("surveys.survey.errors.contact_details")
                .form-group{ class: error_keys.include?('sales_contact.email') ? 'error' : '' }
                  = scf.label :email, t('surveys.survey.interested.email_label')
                  = scf.email_field :email, class: 'form-control'
                .form-group{ class: error_keys.include?('sales_contact.telephone') ? 'error' : '' }
                  = scf.label :telephone, t('surveys.survey.interested.telephone_label')
                  = scf.telephone_field :telephone, class: 'form-control'
            .submit
              #g-recaptcha-container{ data: {sitekey: Rails.application.credentials.recaptcha[:site_key] } }
                %script{src: "https://www.google.com/recaptcha/api.js?onload=onload_recaptcha&render=explicit", async: true, defer: true}
              = submit_tag t('surveys.survey.submit'), id: 'submit_survey', class: 'btn btn-info', disabled: true, "aria-disabled" => true
