.row
  .col-12.col-sm-3
  .col-12.col-sm-6
    <credit-card brand="#{credit_card.brand}" number="#{credit_card.number}" expiry_month="#{credit_card.expiry_month}" expiry_year="#{credit_card.expiry_year}" email="#{credit_card.email}" :is_default="#{credit_card.default}" brand_image="#{image_path('credit_cards/'+credit_card.card_type)}"></credit-card>
  .col-12.col-sm-3
    .card_actions
      - if credit_card.default?
        .default_label= t("marketplace.credit_card.labels.current_default")
      - if policy(credit_card).update? && !credit_card.default?
        = form_for credit_card, url: marketplace_pharmacy_credit_card_path(pharmacy_id: credit_card.pharmacy.id, id: credit_card.id) do |form|
          = form.hidden_field :default, value: true
          = form.submit t("marketplace.credit_card.labels.set_as_default"), class: "btn btn-light"
