.card.credit_card
  .brand
    = image_tag "credit_cards/#{credit_card.card_type}", height: 41, width: 65, alt: t("marketplace.credit_card.logos.#{credit_card.card_type}")
  .number
    = "**** **** **** #{credit_card.number}"
  .expiry
    .label= t("marketplace.credit_card.expiry")
    .value= "#{credit_card.expiry_month}/#{credit_card.expiry_year}"
  .holder.text-truncate{ title: (credit_card.holder_name || credit_card.email) }
    = credit_card.holder_name || credit_card.email
