= form_for [:admin, @user] do |form|

  %h3= t('user.heading.security')

  .form-group
    = form.label :email, t('user.email'), class: 'col-form-label'
    = form.email_field :email, class: 'form-control'
  .form-group
    = form.label :password, t('user.password'), class: 'col-form-label'
    = form.text_field :password, class: 'form-control'
  .form-group
    = form.label :password_confirmation, t('user.password_confirmation'), class: 'col-form-label'
    = form.text_field :password_confirmation, class: 'form-control'

  %h3= t('user.heading.profile')

  = form.fields_for :profile do |profile_form|
    .row
      .col-7
        .form-group
          = profile_form.label :first_name, t('profile.first_name'), class: 'col-form-label'
          = profile_form.text_field :first_name, class: 'form-control'
        .form-group
          = profile_form.label :surname, t('profile.surname'), class: 'col-form-label'
          = profile_form.text_field :surname, class: 'form-control'
        .form-group
          = profile_form.label :telephone, t('profile.telephone'), class: 'col-form-label'
          = profile_form.text_field :telephone, class: 'form-control'
        .form-group
          = profile_form.label :role, t('profile.role'), class: 'col-form-label'
          = profile_form.select :role, options_for_select(Profile::Roles::valid_roles.map{ |r| [t("profile.roles.#{r}"),r] }), {}, class: 'form-control'
      .col-5
        .form-group
          = image_tag((avatar = @user.profile.avatar).attached? ? avatar : "placeholder-user.png", class: 'img-avatar')
          = profile_form.file_field :avatar

  .actions
    - if @user.persisted?
      = link_to t('general.delete'), admin_user_path(@user), method: :delete, class: 'btn btn-danger', data: { confirm: t("general.confirm_delete") }
    = submit_tag t('general.save'), id: 'submit_user', class: 'btn btn-success'
    - if @user.persisted?
      = link_to t('general.cancel'), admin_user_path(@user), class: 'btn btn-light'
    - else
      = link_to t('general.cancel'), admin_users_path, class: 'btn btn-light'
