.row
  .col-md-12
    .card
      %table#users.table
        %thead
          %tr
            %td
              = t("user.email")
            %td
              = t("user.current_sign_in_at")
            %td
              = t("user.created_at")
            %td
              = t("user.updated_at")
            %td.controls
        %tbody
          - @users.each do |user|
            %tr
              %td= user.email
              %td= user.current_sign_in_at
              %td= l(user.created_at, format: :long)
              %td= l(user.updated_at, format: :long)
              %td.controls
                %span.edit
                  = link_to edit_admin_user_path(user) do
                    %i.fa.fa-pencil-alt
                %span.view
                  = link_to admin_user_path(user) do
                    %i.fa.fa-eye

:javascript
  (function(event){
    let table = new DataTable("#users");
  })();
