.row
  .col-md-12
    .card
      .show_record
        %h2= @user.full_name

        %h3= t('user.heading.security')

        .form-group.row
          %label.label.col-form-label.col-2
            = t('user.email')
          .col-10
            %span.form-control
              = @user.email
        .form-group.row
          %label.label.col-form-label.col-2
            = t('user.current_sign_in_at')
          .col-10
            %span.form-control
              = @user.current_sign_in_at
        .form-group.row
          %label.label.col-form-label.col-2
            = t('user.created_at')
          .col-10
            %span.form-control
              = @user.created_at
        .form-group.row
          %label.label.col-form-label.col-2
            = t('user.updated_at')
          .col-10
            %span.form-control
              = @user.updated_at

        %h3= t('user.heading.profile')

        .form-group.row
          %label.label.col-form-label.col-2
            = t('profile.first_name')
          .col-10
            %span.form-control
              = @profile.first_name
        .form-group.row
          %label.label.col-form-label.col-2
            = t('profile.surname')
          .col-10
            %span.form-control
              = @profile.surname
        .form-group.row
          %label.label.col-form-label.col-2
            = t('profile.telephone')
          .col-10
            %span.form-control
              = @profile.telephone
        .form-group.row
          %label.label.col-form-label.col-2
            = t('profile.role')
          .col-10
            %span.form-control
              = t("profile.roles.#{@profile.role}")
        .actions
          = link_to t('general.edit'), edit_admin_user_path(@user), class: 'btn btn-primary'
          = link_to t('general.cancel'), admin_users_path, class: 'btn btn-light'
