- url = @product.persisted? ? marketplace_pharmacy_product_path(@product.pharmacy) : marketplace_pharmacy_products_path(@product.pharmacy, @product)
= form_for @product, url: url do |form|
  .row
    .col-5
      .product_images
        - if @product.images.any?
          = render 'marketplace/shared/product_images', {product_images: @product.images}
        - else
          = image_tag("placeholder-product.jpg", class: 'img-avatar')
        .form-group
          = form.file_field :images[0]
    .col-7
      .form-group
        = form.label :name, t('marketplace.product.name'), class: 'col-form-label'
        = form.text_field :name, class: 'form-control'
      .form-group
        = form.label :description, t('marketplace.product.description'), class: 'col-form-label'
        = form.text_area :description, class: 'form-control'
      .form-group
        = form.label :unit_size, t('marketplace.product.unit_size'), class: 'col-form-label'
        = form.text_field :unit_size, class: 'form-control'
      .form-group
        = form.label :active, t('marketplace.product.active'), class: 'col-form-label col-form-check-label'
        = form.check_box :active, class: 'col-form-check-input'
  .row.actions
    = submit_tag t('general.save'), id: 'submit_product', class: 'btn btn-success'
    = link_to t('general.cancel'), :back, class: 'btn btn-light'
