= form_for @product, url: @url, html: { class: "product_form" } do |form|
  .row
    .col-5
      .product_images
        - if @product.images.any?
          - @product.images.each do |image|
            .product_image.clearfix{data: { id: image.id }}
              .image
                = image_tag(image.variant(resize: '400x400'), class: 'img-product')
              .actions
                .delete_image
                  %i.fa.fa-trash-alt
                    - #%input{ id: "marketplace_product_image_#{image.id}", type: "hidden", name: "marketplace_product[images][#{image.id}][_destroy]", value: 1 }
                .undo.hidden
                  %i.fa.fa-undo
        - else
          = image_tag("placeholder-product.jpg", class: 'img-product')
      .form-group
        = form.file_field :images, multiple: true, direct_upload: true
      = form.hidden_field :delete_images
    .col-7
      .form-group
        = form.label :name, t('marketplace.product.name'), class: 'col-form-label'
        = form.text_field :name, class: 'form-control'
      .form-group
        = form.label :active_ingredient, t('marketplace.product.active_ingredient'), class: 'col-form-label'
        = form.text_field :active_ingredient, class: 'form-control'
      .form-group
        = form.label :form, t('marketplace.product.form'), class: 'col-form-label'
        = form.select :form,
          options_for_select(Marketplace::ProductForm::FORMS.map{ |k,v| [v[:name], k, data: { strength_unit: v[:strength_unit], pack_size_unit: v[:pack_size_unit] }] }, @product.form),
            {},
            {class: 'form-control'}
      .form-group
        = form.label :strength, t('marketplace.product.strength'), class: 'col-form-label'
        .strength
          = form.text_field :strength, class: 'form-control'
          %span.unit= @product.strength_unit
      .form-group
        = form.label :pack_size, t('marketplace.product.pack_size'), class: 'col-form-label'
        .pack_size
          = form.text_field :pack_size, class: 'form-control'
          %span.unit= @product.pack_size_unit
      .form-group.optional
        = form.label :manufacturer, t('marketplace.product.manufacturer'), class: 'col-form-label'
        = form.text_field :manufacturer, class: 'form-control'
      .form-group
        = form.label :active, t('marketplace.product.active'), class: 'col-form-label col-form-check-label'
        = form.check_box :active, class: 'col-form-check-input'
  .row
    .actions
      = submit_tag t('general.save'), id: 'submit_product', class: 'btn btn-success'
      = link_to t('general.cancel'), :back, class: 'btn btn-light'
