.row
  .col-md-12
    .card
      #pharmacy_products
        %h2
          = t("marketplace.pharmacy.products")
          - if policy(::Marketplace::Product.new).create?
            = link_to t("general.add"), new_marketplace_product_path, class: "btn btn-success"
        = render partial: 'marketplace/shared/pharmacies/product', collection: @products

        = render "shared/pagination", { total_count: @total_count,
          page: @page,
          per_page: @per_page,
          current_request: request,
          path_params: {q: @query} }

      - if @products.count>1 && policy(::Marketplace::Product.new).create?
        .actions
          = link_to t("general.add"), new_marketplace_product_path, class: "btn btn-success"
