.row
  .col-md-12
    .card
      .show_record
        %h2
          = @marketplace_pharmacy.name
          %span.active_indicator{class: @marketplace_pharmacy.active? ? 'active' : 'inactive'}
        .form-group.row
          %label.label.col-form-label.col-2
            = t('marketplace.pharmacy.name')
          .col-10
            %span.form-control
              = @marketplace_pharmacy.name
        .form-group.row
          %label.label.col-form-label.col-2
            = t('marketplace.pharmacy.description')
          .col-10
            %span.form-control
              = @marketplace_pharmacy.description
        .form-group.row
          %label.label.col-form-label.col-2
            = t('marketplace.pharmacy.address_1')
          .col-10
            %span.form-control
              = @marketplace_pharmacy.address_1
        .form-group.row
          %label.label.col-form-label.col-2
            = t('marketplace.pharmacy.address_2')
          .col-10
            %span.form-control
              = @marketplace_pharmacy.address_2
        .form-group.row
          %label.label.col-form-label.col-2
            = t('marketplace.pharmacy.address_3')
          .col-10
            %span.form-control
              = @marketplace_pharmacy.address_3
        .form-group.row
          %label.label.col-form-label.col-2
            = t('marketplace.pharmacy.email')
          .col-10
            %span.form-control
              = @marketplace_pharmacy.email
        .form-group.row
          %label.label.col-form-label.col-2
            = t('marketplace.pharmacy.telephone')
          .col-10
            %span.form-control
              = @marketplace_pharmacy.telephone
        .form-group.row
          %label.label.col-form-label.col-2
            = t('marketplace.pharmacy.fax')
          .col-10
            %span.form-control
              = @marketplace_pharmacy.fax
        .actions
          = link_to t('general.edit'), edit_admin_marketplace_pharmacy_path(@marketplace_pharmacy), class: 'btn btn-primary'
          = link_to t('general.cancel'), :back, class: 'btn btn-light'

    .card
      .pharmacy_agents
        %h2
          = t("marketplace.pharmacy.agents")
        = #render 'admin/sales/comments/comment_list', commentable: @sales_pharmacy

    .card
      .pharmacy_products
        %h2
          = t("marketplace.pharmacy.products")

    .card
      .pharmacy_listings
        %h2
          = t("marketplace.pharmacy.listings")
