%footer
  .container.text-canter
    %ul.list-inline.footer_menu
      %li{:role => "presentation"}
        = link_to "Home", root_path
      %li{:role => "presentation"}
        = link_to "About", "#{root_path}#about"
      %li{:role => "presentation"}
        = link_to "Survey", new_survey_response_path
      %li{:role => "presentation"}
        = link_to "Register interest", "#{root_path}#register_interest"
      %li{:role => "presentation"}
        = link_to "Privacy policy", privacy_policy_pages_path
      %li{:role => "presentation"}
        = link_to "Cookies policy", cookies_policy_pages_path
    .footer-copyright.text-center
      %p
        %span= "© #{Time.now.year} RenuPharm"
