%footer
  .container.text-canter
    %ul.list-inline.footer_menu
      %li{:role => "presentation"}
        = link_to "Home", root_path
      %li{:role => "presentation"}
        = link_to "About", "#{root_path}#about"
      %li{:role => "presentation"}
        = link_to "Survey", new_survey_path
      %li{:role => "presentation"}
        = link_to "Register interest", "#{root_path}#register_interest"
    .footer-copyright.text-center
      %p
        Original design courtesy of
        %a{:href => "http://bootstrapthemes.co", :target => "_blank"} Bootstrap Themes
